@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

/* Base Style */
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
  background-color: #333;
  color: #eee;
  line-height: 1.6;
}

a {
  color: darkcyan;
}

.announce {
  color: darkkhaki;
}

/* Header */
.site-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.site-icon {
  width: 64px;
  height: 64px;
  border-radius: 20%;
}

.site-title {
  margin: 0;
  white-space: nowrap;
}

h1 {
  font-size: 50px;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #878787;
  color: #000;
  display: inline-block;
}

h2 {
  font-size: 30px;
}

/* Main */
main .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container img {
  display: block;
  width: 150px;
  height: auto;
  margin-right: 10px;
}

.container .bio {
  flex-grow: 1;
}

.img {
  text-align: center;
}

/* Footer */
.copylight {
  text-align: center;
  margin-top: 2rem;
}
